node_modules
package-lock.json
yarn.lock
.env
.env.local
coverage
/.idea

# Logs
logs
*.log
.rest
.http
.DS_Store

.scannerwork

push.sh
.github/workflows/sonar_scan.yaml
sonar-project.properties
test.js